<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('assets/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css.css') }}">
    <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css') }}"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css') }}">
    <link href="{{ asset('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap') }}"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/cardscss.css') }}">
    <title>Liberty Template - NFT Item Detail Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('https://unpkg.com/swiper@7/swiper-bundle.min.css') }}"/>
    {% endblock %}
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/templatemo-cyborg-gaming.css') }}">
    <link rel="stylesheet" href="{{ asset('https://unpkg.com/swiper@7/swiper-bundle.min.css') }}"/>
    <!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="{{ asset('assets2/img/logoart.png') }}" height="50" width="30" alt="">

                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <div class="dropdown">
                            <li><a>Art</a></li>
                            <div class="dropdown-content">
                                <li><a href="{{ path('app_explore') }}">Explore</a></li>
                                <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                <li><a href="{{ path('app_map') }}">Studios</a></li>
                                <li><a href="{{ path('app_post_new') }}">Create Yours</a></li>

                            </div>
                        </div>
                        <li><a href="{{ path('app_offretravail_index') }}">Offres</a></li>
                        <li><a href="{{ path('app_demandetravail_index') }}">Demandes</a></li>
                        <li><a href="{{ path('app_produits_index') }}">Shop</a></li>
                        <li><a href="{{ path('app_panier_show' , {'idpanier': '1'}) }}">Panier</a></li>
                        <li><a href="{{ path('app_challenge_index') }}">Challenges</a></li>
                        <li><a href="{{ path('app_tutoriel_index') }}">Tutoriels</a></li>
                        {%if(user.type=='Admin') %}
                            <li><a href="{{ path('app_dashboard_studiodashboard') }}">dashboard </a></li>
                        {% endif %}
                        {% if(user.idUser==null) %}
                            <li><a href="{{ path('app_allusers_login') }}">Log In</a></li>
                        {% else %}
                            <li><a href="{{ path('app_allusers_logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn {

            padding: 12px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu:hover .dropdown-submenu-content {
            display: block;
        }

        .dropdown-submenu-content {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-top: -1px;
        }

        .dropdown-content a {

            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {

        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {

        }
    </style>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Modal body..
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="page-heading normal-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>Les demandes d'emplois</h6>
                <h2>Consulter tous les demandes</h2>
                <span>Acceuil> <a href="#">Demandes d'emplois</a></span>
                <div class="buttons">
                    <div class="main-button">
                        <a href="{{ path('app_demande_travail_chercheroffre') }}">Cherchers offres</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>.section-title {
        border: 1px solid #7453fc; /* add border to the section */
        border-radius: 20px; /* set the same radius for all corners */
        padding: 10px; /* add padding to the section */
        background-color: #7453fc;
        display: inline-block; /* make the section inline-block so it wraps around its content */
    }

    .section-title {
        margin: 0; /* remove margin from the title */
    }

    .link-style {
        text-decoration: none; /* remove underline from the link */
        color: white; /* set link color */
        font-weight: bold; /* make the link bold */
        margin-left: 10px; /* add margin to the left of the link */
    }</style>

<div class="item-details-page">
    <div class="container">
        <div class="row">


            <div class="col-lg-6">
                <div class="mini-heading">
                    <h4 class="section-title">Mes demandes</h4></div>

                <a class="link-style" href="{{ path('app_dashboard_demandes') }}"><u>Gérer mes demandes</u></a>

            </div>


            <div class="featured-explore">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="owl-features owl-carousel">


                                {% for demandetravail in demandetravailbyid %}



                                    <article class="postcardcar dark blue">
                                        <a class="postcardcar__img_link" href="#">
                                            <img class="postcardcar__img" src="https://picsum.photos/1000/1000"
                                                 alt="Image Title"/>
                                        </a>
                                        <div class="postcardcar__text">
                                            <h1 class="postcardcar__title blue"><a>{{ demandetravail.titredemande }}</a>
                                            </h1>
                                            <div class="postcardcar__subtitle small">
                                                <time datetime="2020-05-25 12:00:00">
                                                    <i class="fas fa-calendar-alt mr-2"></i>{{ demandetravail.dateajoutdemande ? demandetravail.dateajoutdemande|date('Y-m-d H:i:s') : '' }}
                                                </time>
                                            </div>
                                            <div class="postcardcar__bar"></div>
                                            <div class="postcardcar__preview-txt">{{ demandetravail.descriptionDemande }}</div>
                                            <ul class="postcardcar__tagbox">

                                                <li class="tag__item play blue">
                                                    <a href="{{ asset('/uploads/'~demandetravail.pdf) }}"> <i
                                                                class="bi bi-file-person"> Mon cv</i></a>


                                                </li>


                                                </li>
                                            </ul>
                                        </div>
                                    </article>



                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="item-details-page">
    <div class="container">
        <div class="row">


            <div class="col-lg-12">
                <div class="current-bid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mini-heading">
                                <h4>Tous les offres</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <select name="Category" class="form-select" aria-label="Default select example"
                                        id="chooseCategory" onchange="this.form.click()">
                                    <option selected>Sort By: Latest</option>
                                    <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
                                    <option value="low">Sort By: Lowest</option>
                                    <option value="high">Sort By: Highest</option>
                                </select>
                            </fieldset>
                        </div>


                        <section class="dark">

                            <div class="containercard py-4">

                                {% for demandetravail in demandetravails %}
                                    <article class="postcard dark blue">
                                        <a class="postcard__img_link" href="#">
                                            <img class="postcard__img" src="https://picsum.photos/1000/1000"
                                                 alt="Image Title"/>
                                        </a>
                                        <div class="postcard__text">
                                            <h1 class="postcard__title blue"><a>{{ demandetravail.titreDemande }}</a>
                                            </h1>
                                            <div class="postcard__subtitle small">
                                                <time datetime="2020-05-25 12:00:00">
                                                    <i class="fas fa-calendar-alt mr-2"></i>{{ demandetravail.dateajoutdemande ? demandetravail.dateajoutdemande|date('Y-m-d H:i:s') : '' }}
                                                </time>
                                            </div>
                                            <div class="postcard__bar"></div>
                                            <div class="postcard__preview-txt">{{ demandetravail.descriptionDemande }}</div>
                                            <ul class="postcard__tagbox">
                                                <li class="tag__item"><i
                                                            class="fas fa-tag mr-2"></i>{{ demandetravail.categoriedemande }}
                                                </li>
                                                <li class="tag__item play blue">
                                                    <a href="{{ asset('/uploads/'~demandetravail.pdf) }}"><i
                                                                class="bi bi-file-person">cv</i> </a>

                                                </li>
                                            </ul>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                            <div>

                                {{ knp_pagination_render(
                                    demandetravails,
                                    '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                                    {
                                        'queryParam1': 'param1 value',
                                        'queryParam2': 'param2 value'
                                    },
                                    {
                                        'align': 'center',

                                    },
                                ) }}
                            </div>
                        </section>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved. &nbsp;&nbsp;
                    Designed by <a title="HTML CSS Templates" rel="sponsored"
                                   href="{{ asset('https://templatemo.com') }}" target="_blank">TemplateMo</a></p>
            </div>
        </div>
    </div>
</footer>

text-alig
<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ asset('assets/js/isotope.min.js') }}"></script>
<script src="assets/js/owl-carousel.js')}}"></script>

<script src="{{ asset('assets/js/tabs.js') }}"></script>
<script src="{{ asset('assets/js/popup.js') }}"></script>
<script src="{{ asset('assets/js/custom.js') }}"></script>

<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.1.1/swiper-bundle.min.js') }}"
        integrity="sha512-J0i98QZsJc12MkNEyDbinrKKoe7Jiw0rtryAXBesZrVwRkaqgP9QNCPyo5sMZ2jfiJQb+9RIE4I3xNl8fFqQIA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JavaScript -->
<!--Uncomment this line-->
<script src="{{ asset('assets/index.js') }}"></script>
<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/mixitup.min.js') }}"></script>
<script src="{{ asset('js/test.js') }}"></script>
<script src="{{ asset('js/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('js/jquery.slicknav.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
<script src="{{ asset('https://unpkg.com/swiper/swiper-bundle.min.js') }}"></script>
{% block javascripts %}
    {# <script src="vendor/jquery/jquery.min.js"></script> #}
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

    {# <script src="vendor/bootstrap/js/bootstrap.min.js"></script> #}
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    {# <script src="assets/js/isotope.min.js"></script> #}
    <script src="{{ asset('assets/js/isotope.min.js') }}"></script>

    {# <script src="assets/js/owl-carousel.js"></script> #}
    <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>

    {# <script src="assets/js/tabs.js"></script> #}
    <script src="{{ asset('assets/js/tabs.js') }}"></script>

    {# <script src="assets/js/popup.js"></script> #}
    <script src="{{ asset('assets/js/popup.js') }}"></script>

    {# <script src="assets/js/custom.js"></script>  #}
    <script src="{{ asset('assets/js/custom.js') }}"></script>
{% endblock %}

</body>

</html>