

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_comment</th>
                <td>{{ comment.getId }}</td>
            </tr>
            <tr>
                <th>Date_comment</th>
                <td>{{ comment.dateComment ? comment.dateComment|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ comment.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_index') }}">back to list</a>

    <a href="{{ path('app_comment_edit', {'id_comment': comment.getId}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
