{# {% extends 'base.html.twig' %} #}
{% block stylesheet %}
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href='https://unpkg.com/swiper@7/swiper-bundle.min.css'/>
{% endblock %}
{% block title %}Participation{% endblock %}

{% block body %}
    <h1>Participation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id_participation</th>
            <td>{{ participation.idParticipation }}</td>
        </tr>
        <tr>
            <th>Img_participation</th>
            <td>{{ participation.imgParticipation }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ participation.description }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participation_index') }}">back to list</a>

    <a href="{{ path('app_participation_edit', {'id_participation': participation.id_participation}) }}">edit</a>

    {{ include('participation/_delete_form.html.twig') }}
    {% block javascripts %}
        {# <script src="vendor/jquery/jquery.min.js"></script> #}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

        {# <script src="vendor/bootstrap/js/bootstrap.min.js"></script> #}
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        {# <script src="assets/js/isotope.min.js"></script> #}
        <script src="{{ asset('assets/js/isotope.min.js') }}"></script>

        {# <script src="assets/js/owl-carousel.js"></script> #}
        <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>

        {# <script src="assets/js/tabs.js"></script> #}
        <script src="{{ asset('assets/js/tabs.js') }}"></script>

        {# <script src="assets/js/popup.js"></script> #}
        <script src="{{ asset('assets/js/popup.js') }}"></script>

        {# <script src="assets/js/custom.js"></script>  #}
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    {% endblock %}
{% endblock %}
