{% extends 'baseback.html.twig' %}

{% block title %}Tutoriel index{% endblock %}

{% block body %}

    <main id="main" class="main">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }} <i class="bi bi-check" style="width: 50;height: 50;color: #00ff00;"></i>
        </div>
    {% endfor %}
    <section class="section">
        <div class="row">

            <!-- Tpc -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body pb-0">
                        <h6 class="card-title">Tutoriels <span>| Per Category</span></h6>
                        <!-- Pie Chart -->
                        <div id="pieChart" style="min-height: 400px;" class="echart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                echarts.init(document.querySelector("#pieChart")).setOption({
                                    title: {
                                        text: 'Tutoriels',
                                        subtext: 'Per Category',
                                        left: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item'
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left'
                                    },
                                    series: [{
                                        name: 'Access From',
                                        type: 'pie',
                                        radius: '50%',
                                       data: [
                                            {
                                                value: {{ tutorielsPerCategory[0].aaa }},
                                                name: '{{ tutorielsPerCategory[0].name_category }}'
                                            },
                                            {
                                                value: {{ tutorielsPerCategory[1].aaa }},
                                                name: '{{ tutorielsPerCategory[1].name_category }}'
                                            }

                                        ],
                                        emphasis: {
                                            itemStyle: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                        }]
                                });
                            });
                        </script>
                        <!-- End Pie Chart -->

                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 style="margin-bottom: 22px;" class="card-title">Most viewed tutoriels</h5>
                        <!-- Bar Chart -->
                        <div id="barChart"></div>

                            <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new ApexCharts(document.querySelector("#barChart"), {
                                    series: [{
                                        data: [{{ tutorielsPerView[1].views }}, {{ tutorielsPerView[0].views }}]
                        ],
                                    chart: {
                                        type: 'bar',
                                        height: 350
                                    },
                                    plotOptions: {
                                        bar: {
                                            borderRadius: 4,
                                            horizontal: true,
                                        }
                                    },
                                    dataLabels: {
                                        enabled: false
                                    },
                                    xaxis: {
                                      {#  categories: ['{{ tutorielsPerView[1].title }}', '{{ tutorielsPerView[0].title }}'
                                        ],
                        #}
                                }).render();
                            });
                        </script>
                        <!-- End Bar Chart -->

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Views per month</h5>

                    <!-- Line Chart -->
                    <div id="lineChart"></div>
                     <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#lineChart"), {
                                series: [{
                                    name: "Views",
                                {#    data: [{{ vpm[1] }}, {{ vpm[2] }}, {{ vpm[3] }}, {{ vpm[4] }}, {{ vpm[5] }}, {{ vpm[6] }}, {{ vpm[7] }}, {{ vpm[8] }}, {{ vpm[9] }}, {{ vpm[10] }}, {{ vpm[11] }}, {{ vpm[12] }}]
                    #}],
                                chart: {
                                    height: 350,
                                    type: 'line',
                                    zoom: {
                                        enabled: false
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                stroke: {
                                    curve: 'straight'
                                },
                                grid: {
                                    row: {
                                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                        opacity: 0.5
                                    },
                                },
                                xaxis: {
                                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                }
                            }).render();
                        });
                    </script>
                    <!-- End Line Chart -->

                </div>
            </div>
        </div>
    </section>


    <div class="pagetitle">
        <h1>Mes Tutoriels</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>

                <li class="breadcrumb-item active">Mes Tutoriels</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <style>
        .ligne {
            display: flex;
            justify-content: space-between;
            margin: 20px;

        }

        .bg-gradient-primary {
            background-color: #007bff;
            border-radius: 10px;
            color: #fff;
            padding: 20px;
        }

        .table td {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif; /* Change to your desired font family */
        }

        .table th {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif; /* Change to your desired font family */
            font-weight: bold;
            color: #555555;
        }

        button {
            color: white;
            border: none;
            background-color: white;
        }


    </style>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h4 class="text-white text-capitalize ps-31">Mes Tutoriels</h4>
                            </div>
                        </div>

                        <div class="ligne">
                            <div class="col-6">
                                <a href="{{ path('app_tutoriel_new') }}">
                                    <i class="fas fa-plus"></i>
                                    Ajouter un tutoriel
                                </a>
                            </div>
                        </div>


                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Niveau</th>
                                <th scope="col">Videos</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for tutoriel in tutoriels %}

                                <tr>


                                    <td class="align-middle text-center text-sm">
                                        {{ tutoriel.getId() }}
                                    </td>

                                    <td class="align-middle text-center text-sm">
                                        <img src="{{ asset('http://localhost/img/'~tutoriel.pathimg) }}" alt=""
                                             style="border-radius: 20px; width: 70px; height: 70px; ">
                                    </td>
                                    <td class="align-middle text-center text-sm">{{ tutoriel.title }}</td>
                                    <td class="align-middle text-center text-sm">
                                        {{ tutoriel.description }}
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {{ tutoriel.niveau }}
                                    </td>

                                    <td class="align-middle text-center text-sm"><a class="btn btn-primary"
                                                                                    href="{{ path('app_tutoriel_show_back', {'id_tutoriel': tutoriel.getId()}) }}">show
                                            ({{ tutoriel.getVideos()|length }})</a></td>
                                    <td class="align-middle text-center text-sm">
                                        {% if(user.id_user==tutoriel.getIdArtist().getid_user()) %}
                                        <a href="{{ path('app_tutoriel_edit', {'id_tutoriel': tutoriel.getId()}) }}"
                                           class="text-primary"><i class="bi bi-pencil"></i> Modifier </a></td>


                                    <td class="align-middle text-center text-sm"><a
                                                href="{{ path('app_tutoriel_delete', {'id_tutoriel': tutoriel.getId()}) }}"
                                                class="text-primary"><i class="bi bi-trash"></i> Supprimer </a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}