{#  {% extends 'base.html.twig' %}#}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home') }}" class="logo">
                        <img src={{ asset("assets/images/logo.png") }} alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <div class="dropdown">
                            <li><a>Art</a></li>
                            <div class="dropdown-content">
                                <li><a href="{{ path('app_explore') }}">Explore</a></li>
                                <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                <li><a href="{{ path('app_map') }}">Studios</a></li>
                                <li><a href="{{ path('app_post_new') }}">Create Yours</a></li>

                            </div>
                        </div>
                        {% if(user.type=='Studio') %}
                            <li><a href="{{ path('app_offretravail_index') }}">Offres</a></li>
                        {% elseif(user.type=='Artist') %}

                            <li><a href="{{ path('app_demandetravail_index') }}">Demandes</a></li>
                        {% endif %}
                        <li><a href="{{ path('app_produits_index') }}">Shop</a></li>
                        <li><a href="{{ path('app_panier_show' , {'idpanier': '1'}) }}">Panier</a></li>
                        <li><a href="{{ path('app_challenge_index') }}">Challenges</a></li>
                        <li><a href="{{ path('app_tutoriel_index') }}">Tutoriels</a></li>
                        {%if(user.type!='Observer') %}
                            <li><a href="{{ path('app_dashboard_studiodashboard') }}">dashboard </a></li>
                        {% endif %}
                        {% if(user.idUser is null) %}
                            <li><a href="{{ path('app_allusers_login') }}">Log In</a></li>
                        {% else %}
                            <li><a href="{{ path('app_allusers_logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
{% block stylesheet %}
     <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


     <!-- Additional CSS Files -->
     <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
     <link rel="stylesheet" href='https://unpkg.com/swiper@7/swiper-bundle.min.css'/>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn {

            padding: 12px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu:hover .dropdown-submenu-content {
            display: block;
        }

        .dropdown-submenu-content {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-top: -1px;
        }

        .dropdown-content a {

            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {

        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {

        }
    </style>
 {% endblock %}
{% block title %}Tutoriel index{% endblock %}
{% block css %}
   {# {{ parent() }}#}
    <style>

        ul {
            list-style: none;
            color: #684CDB;

        }

        .list {
            width: 100%;
            background-color: #25252F;
            border-radius: 5px 5px 5px 5px;
            margin-top: 5px;
            padding-bottom: 5px;
            margin-left: 10px;
            position: absolute;
            z-index: 2;
            width: 200px;
        }

        .list-items {
            padding: 15px 5px;
        }

        .list-items:hover {
            background-color: #494242;
        }
    </style>
{% endblock %}
{% block body %}
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ path('app_home') }}" class="logo">
                            <img src={{ asset("assets/images/logo.png") }} alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <div class="dropdown">
                                <li><a>Art</a></li>
                                <div class="dropdown-content">
                                    <li><a href="{{ path('app_explore') }}">Explore</a></li>
                                    <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                    <li><a href="{{ path('app_map') }}">Studios</a></li>
                                    <li><a href="{{ path('app_post_new') }}">Create Yours</a></li>

                                </div>
                            </div>
                            {% if(user.type=='Studio') %}
                                <li><a href="{{ path('app_offretravail_index') }}">Offres</a></li>
                            {% elseif(user.type=='Artist') %}

                                <li><a href="{{ path('app_demandetravail_index') }}">Demandes</a></li>
                            {% endif %}
                            <li><a href="{{ path('app_produits_index') }}">Shop</a></li>
                            <li><a href="{{ path('app_panier_show' , {'idpanier': '1'}) }}">Panier</a></li>
                            <li><a href="{{ path('app_challenge_index') }}">Challenges</a></li>
                            <li><a href="{{ path('app_tutoriel_index') }}">Tutoriels</a></li>
                            {%if(user.type!='Observer') %}
                                <li><a href="{{ path('app_dashboard_studiodashboard') }}">dashboard </a></li>
                            {% endif %}
                            {% if(user.idUser is null) %}
                                <li><a href="{{ path('app_allusers_login') }}">Log In</a></li>
                            {% else %}
                                <li><a href="{{ path('app_allusers_logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Tutoriels</h6>
                    <h2>Discover Best Tutoriels</h2>
                    <span>Tutoriels > <a href="#">Explore</a></span>
                </div>
            </div>
        </div>
        <a href="{{ path('app_tutoriel_favoris') }}"><span>show favoris</span></a>
        <div class="featured-explore">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-features owl-carousel">

                            {% for t in toptutoriels %}
                                <div class="item">
                                    <div class="thumb">
                                        <img src={{ asset('http://localhost/img/'~t.pathimg) }} alt=""
                                             style="border-radius: 20px;height: 500px;">
                                        <div class="hover-effect">
                                            <div class="content">
                                                <h4>{{ t.title }}</h4>
                                                <span class="author">
                        <img src="assets/images/author.jpg" alt=""
                             style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                        <h6>made by {{ t.getIdArtist.name }}<br><a
                                    href="{{ path('app_tutoriel_show', {'id_tutoriel': t.getId()}) }}">show</a></h6>
                      </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="discover-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Discover Our <em>Tutoriels</em>.</h2>
                    </div>
                </div>
                <div class="col-lg-7">

                    <form id="search-form" autocomplete="off" name="gs" method="post" role="search" action="#">
                        <div class="row">
                            <div class="col-lg-5">
                                <fieldset>
                                    {% if(keyword=="") %}
                                        <div>
                                            <input id="searchtxt" autocomplete="off" type="text" name="keyword"
                                                   class="searchText" placeholder="Type Something...">
                                        </div>
                                        <ul class="list"></ul>

                                    {% else %}
                                        <div>
                                            <input value={{ keyword }} id="searchtxt" autocomplete="off" type="text"
                                                   name="keyword" class="searchText" placeholder="Type Something...">
                                        </div>
                                        <ul class="list"></ul>
                                    {% endif %}
                                </fieldset>
                            </div>
                            <div class="col-lg-5">
                                <fieldset>
                                    <select default=$category name="Category" class="form-select"
                                            aria-label="Default select example" id="chooseCategory"
                                            onchange="this.form.click()">
                                        {% if(Categorie==null) %}
                                            <option value=null selected>All Categories</option>
                                        {% else %}
                                            <option value=null>All Categories</option>
                                        {% endif %}
                                        {% for category in categories %}
                                            {% if(category.getIdCategory()==Categorie) %}
                                                <option selected
                                                        value="{{ category.getIdCategory() }}">{{ category.getNameCategory() }}</option>
                                            {% else %}
                                                <option value="{{ category.getIdCategory() }}">{{ category.getNameCategory() }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button class="main-button">Search</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

                {% for t in tutoriels %}
                    <div class="col-lg-3">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                <span class="author">
                {% if(t.getIdCategorie().getNameCategory()=="2d") %}
                    <img src="{{ asset('assets/images/2d.png') }}" alt=""
                         style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                {% endif %}
                    {% if(t.getIdCategorie().getNameCategory()=="3d") %}
                        <img src="{{ asset('assets/images/3d.png') }}" alt=""
                             style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                    {% endif %}
                </span>
                                    <img src="{{ asset('http://localhost/img/'~t.pathimg) }}" alt=""
                                         style="border-radius: 20px; max-width: 500px; height: 250px; ">
                                    <h4>{{ t.title }}</h4>
                                </div>
                                <div class="col-lg-12">
                                    <div class="line-dec"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <span>Level: <br> <strong>{{ t.niveau }}</strong></span>
                                        </div>
                                        <div class="col-6">
                                            {% set lastupdate = date('01-01-1999') %}
                                            {% for v in t.videos %}
                                                {% if(v.getDateP()>lastupdate) %}
                                                    {% set lastupdate = v.getDateP() %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if(lastupdate==date('01-01-1999')) %}
                                                {% set lastupdate = date('01-01-2023') %}
                                            {% endif %}
                                            <span>Last Update: <br> <strong>{{ lastupdate|date('d M Y') }} </strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <a href="{{ path('app_tutoriel_show', {'id_tutoriel': t.getId()}) }}">show</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {{ knp_pagination_render(
                    tutoriels,
                    '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                    {
                        'queryParam1': 'param1 value',
                        'queryParam2': 'param2 value'
                    },
                    {
                        'align': 'center',
                    },
                ) }}

            </div>
        </div>
    </div>
    </div>
    {% set tab = [] %}
    {% for t in tutoriels %}
        {% set tab = tab|merge([t.title]) %}
    {% endfor %}

{% endblock %}
  {% block js %}
      {#{{ parent() }}#}
      <script>
          $.ajax({
              type: 'GET',
              url: 'http://127.0.0.1:8000/tutoriel/show/names',
              success: function (response) {
                  // Handle the response from the controller
                  let names = response.names;

                  let sortedNames = names.sort();
                  let input = document.getElementById("searchtxt");
                  tab = [];
                  input.addEventListener("keyup", (e) => {
                      //loop through above array
                      removeElements();
                      sortedNames.forEach(i => {
                          //initially remove all elements (so if user erases a letter or adds new letter then clean previous out)
                          if (
                              i.toLowerCase().startsWith(input.value.toLowerCase()) &&
                              input.value != ""
                          ) {
                              let listItem = document.createElement("li");
                              // One common class name
                              listItem.classList.add("list-items");
                              listItem.style.cursor = "pointer";
                              listItem.setAttribute("onclick", "displayNames('" + i + "')");
                              //Display match part in bold
                              let word = "<b>" + i.substr(0, input.value.length) + "</b>";
                              word += i.substr(input.value.length);
                              console.log(word);
                              //display the value in array
                              listItem.innerHTML = word;
                              document.querySelector(".list").appendChild(listItem);
                          }
                      });
                  });

                  function displayNames(value) {
                      input.value = value;
                      removeElements();
                  }

                  function removeElements() {
                      //clear all the item
                      let items = document.querySelectorAll(".list-items");
                      items.forEach((item) => {
                          console.log("1");
                          item.remove();
                      });
                  }

              }

          });

          let names = ['swipi', 'monalisa', 'bb', 'kkd'];

          let sortedNames = names.sort();
          let input = document.getElementById("searchtxt");
          tab = [];
          input.addEventListener("keyup", (e) => {
              //loop through above array
              removeElements();
              sortedNames.forEach(i => {
                  //initially remove all elements (so if user erases a letter or adds new letter then clean previous out)
                  if (
                      i.toLowerCase().startsWith(input.value.toLowerCase()) &&
                      input.value != ""
                  ) {
                      let listItem = document.createElement("li");
                      // One common class name
                      listItem.classList.add("list-items");
                      listItem.style.cursor = "pointer";
                      listItem.setAttribute("onclick", "displayNames('" + i + "')");
                      //Display match part in bold
                      let word = "<b>" + i.substr(0, input.value.length) + "</b>";
                      word += i.substr(input.value.length);
                      console.log(word);
                      //display the value in array
                      listItem.innerHTML = word;
                      document.querySelector(".list").appendChild(listItem);
                  }
              });
          });

          function displayNames(value) {
              input.value = value;
              removeElements();
          }

          function removeElements() {
              //clear all the item
              let items = document.querySelectorAll(".list-items");
              items.forEach((item) => {
                  console.log("1");
                  item.remove();
              });
          }
      </script>
      {% include "chat/index.html.twig" %}
      {% block footer %}
          <footer>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
                              &nbsp;&nbsp;
                              Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
                                             target="_blank">TemplateMo</a></p>
                      </div>
                  </div>
              </div>
          </footer>
      {% endblock %}

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      {% block javascripts %}
          {# <script src="vendor/jquery/jquery.min.js"></script> #}
          <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

          {# <script src="vendor/bootstrap/js/bootstrap.min.js"></script> #}
          <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

          {# <script src="assets/js/isotope.min.js"></script> #}
          <script src="{{ asset('assets/js/isotope.min.js') }}"></script>

          {# <script src="assets/js/owl-carousel.js"></script> #}
          <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>

          {# <script src="assets/js/tabs.js"></script> #}
          <script src="{{ asset('assets/js/tabs.js') }}"></script>

          {# <script src="assets/js/popup.js"></script> #}
          <script src="{{ asset('assets/js/popup.js') }}"></script>

          {# <script src="assets/js/custom.js"></script>  #}
          <script src="{{ asset('assets/js/custom.js') }}"></script>
      {% endblock %}

  {% endblock %}
