{% extends 'baseback.html.twig' %}

{% block title %}Mes Videos{% endblock %}
{#
{% block body %}
<div class="col-12">
              <div class="card recent-sales overflow-auto">
              
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Tutoriel | Videos <span>| List</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Video</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date d'ajout</th>
                        <th scope="col">actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for v in tutoriel.videos %}
                      <tr>
                        <th scope="row"><a href="#">{{v.getId()}}</a></th>
                        <td><img src="{{ asset('http://localhost/img/'~v.pathimage) }}" alt="" style="border-radius: 20px; width: 70px; height: 70px; "></td>
                        <td><video width="70" height="70" controls>
                            <source src="{{ asset('http://localhost/videos/'~v.pathvideo) }}" type="video/mp4">
                            Your browser does not support the video tag.
                            </video></td>
                        <td><a href="#" class="text-primary">{{v.title}}</a></td>
                        <td>{{ v.description }}</td>
                        <td>{{ v.getDateP()|date("d:m:Y") }}</td>
                        <td style="">
                        <a href="{{ path('app_video_edit', {'id_video': v.getId()}) }}"><i class="bi bi-pencil-square"></i></a>
                        <a href="{{ path('app_tutoriel_delete', {'id_tutoriel': tutoriel.getId()}) }}"><i class="bi bi-dash-circle"></i></a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>
{% endblock %}
#}

{% block body %}


    <main id="main" class="main">

    <div class="pagetitle">
        <h1>Mes Videos</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Mes Tutoriels</li>
                <li class="breadcrumb-item active">Mes Videos</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <style>
        .ligne {
            display: flex;
            justify-content: space-between;
            margin: 20px;

        }

        .bg-gradient-primary {
            background-color: #007bff;
            border-radius: 10px;
            color: #fff;
            padding: 20px;
        }

        .table td {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif; /* Change to your desired font family */
        }

        .table th {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif; /* Change to your desired font family */
            font-weight: bold;
            color: #555555;
        }

        button {
            color: white;
            border: none;
            background-color: white;
        }


    </style>
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h4 class="text-white text-capitalize ps-31">Mes Videos</h4>
                            </div>
                        </div>
                        {% if(userid==tutoriel.getIdArtist().getid_user()) %}
                            <div class="ligne">
                                <div class="col-6">
                                    <a href="{{ path('app_videoo_new',{'id_tutoriel':id_tutoriel}) }}">
                                        <i class="fas fa-plus"></i>
                                        Ajouter un video
                                    </a>
                                </div>
                            </div>
                        {% endif %}


                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Video</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date d'ajout</th>
                                <th scope="col">Modifier</th>
                                <th scope="col">Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for v in tutoriel.videos %}

                                <tr>


                                    <td class="align-middle text-center text-sm">
                                        {{ v.getId() }}
                                    </td>

                                    <td class="align-middle text-center text-sm">
                                        <img src="{{ asset('http://localhost/img/'~v.pathimage) }}" alt=""
                                             style="border-radius: 20px; width: 70px; height: 70px; ">
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <video width="70" height="70" controls>
                                            <source src="{{ asset('http://localhost/videos/'~v.pathvideo) }}"
                                                    type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {{ v.title }}
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {{ v.description }}
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {{ v.getDateP()|date("d:m:Y") }}
                                    </td>
                                    {% if(userid==tutoriel.getIdArtist().getid_user()) %}
                                        <td class="align-middle text-center text-sm"><a
                                                    href="{{ path('app_video_edit', {'id_video': v.getId()}) }}"
                                                    class="text-primary"><i class="bi bi-pencil"></i> Modifier </a></td>
                                        <td class="align-middle text-center text-sm"><a
                                                    href="{{ path('app_video_delete', {'id_video': v.getId()}) }}"
                                                    class="text-primary"><i class="bi bi-trash"></i> Supprimer </a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}