{% extends 'baseback.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}

<!-- Recent Sales -->
<main id="main" class="main">
    <div class="pagetitle">
      <h1>Challenges</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Challenges</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <div class="col-12">
              <div class="card recent-sales overflow-auto">
              
                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Challenges <span>| List</span></h5>

                  
                <div class="ligne">
                  <div class="col-6">
                    <a href="{{ path('app_challenge_new') }}">
                      <i class="fas fa-plus"></i>
                      Ajouter un challenge
                    </a>
                  </div>
                </div>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Niveau</th>
                        <th scope="col">Date</th>
                        <th scope="col">Participations</th>
                        <th scope="col">actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for challenge in challenges %}
                      <tr>

                        <th scope="row"><a href="#">{{challenge.getId()}}</a></th>
                        <td><img src="{{ asset('http://localhost/img/'~challenge.PathIMG) }}" alt="" style="border-radius: 20px; width: 70px; height: 70px; "></td>
                        <td><a href="#" class="text-primary">{{challenge.Title}}</a></td>
                        <td>{{ challenge.Description }}</td>
                        <td>{{ challenge.Niveau }}</td>
                        <td>{{ challenge.DateC ? challenge.DateC|date('d M') : '' }}</td>
                        <td>
                          <a class="btn btn-primary" href="{{ path('app_challenge_show_back', {'id': challenge.getId()}) }}">show ({{challenge.participations|length}})</a>
                        </td>
                        <td style="">
                          {% if(user.id_user==challenge.getIdArtist().getid_user()) %}
                        <a href="{{ path('app_challenge_edit', {'id': challenge.id}) }}"><i class="bi bi-pencil-square"></i></a>
                        <a href="{{ path('app_challenge_delete', {'id_challenge': challenge.getId()}) }}"><i class="bi bi-dash-circle"></i></a>
                          {% endif %}
                        </td>

                        
            </a>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

{% endblock %}