{# {% extends 'base.html.twig' %} #}
{% block stylesheet %}
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href='https://unpkg.com/swiper@7/swiper-bundle.min.css'/>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn {

            padding: 12px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu:hover .dropdown-submenu-content {
            display: block;
        }

        .dropdown-submenu-content {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-top: -1px;
        }

        .dropdown-content a {

            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {

        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {

        }
    </style>
{% endblock %}
{% block body %}
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ path('app_home') }}" class="logo">
                            <img src={{ asset("assets/images/logo.png") }} alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <div class="dropdown">
                                <li><a>Art</a></li>
                                <div class="dropdown-content">
                                    <li><a href="{{ path('app_explore') }}">Explore</a></li>
                                    <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                    <li><a href="{{ path('app_map') }}">Studios</a></li>
                                    <li><a href="{{ path('app_post_new') }}">Create Yours</a></li>

                                </div>
                            </div>
                            {% if(user.type=='Studio') %}
                                <li><a href="{{ path('app_offretravail_index') }}">Offres</a></li>
                            {% elseif(user.type=='Artist') %}

                                <li><a href="{{ path('app_demandetravail_index') }}">Demandes</a></li>
                            {% endif %}
                            <li><a href="{{ path('app_produits_index') }}">Shop</a></li>
                            <li><a href="{{ path('app_panier_show' , {'idpanier': '1'}) }}">Panier</a></li>
                            <li><a href="{{ path('app_challenge_index') }}">Challenges</a></li>
                            <li><a href="{{ path('app_tutoriel_index') }}">Tutoriels</a></li>
                            {%if(user.type!='Observer') %}
                                <li><a href="{{ path('app_dashboard_studiodashboard') }}">dashboard </a></li>
                            {% endif %}
                            {% if(user.idUser is null) %}
                                <li><a href="{{ path('app_allusers_login') }}">Log In</a></li>
                            {% else %}
                                <li><a href="{{ path('app_allusers_logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="discover-items">
        <div class="container">
            <div class="row">
                <div class="buttons">
                    <div class="border-button">
                        <a href={{ path('app_challenge_calendar') }}>Show Calendar</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Discover Some Of Our <em>Challenges</em>.</h2>
                    </div>
                </div>
                <div class="col-lg-7">

                    <form id="search-form" name="gs" method="post" role="search" action="#">
                        <div class="row">
                            <div class="col-lg-5">
                                <fieldset>
                                    {% if(keyword=="") %}
                                        <input id="searchTxt" type="text" name="keyword" class="searchText"
                                               placeholder="Type Something..." autocomplete="on">
                                    {% else %}
                                        <input value={{ keyword }} id="searchTxt" type="text" name="keyword"
                                               class="searchText" placeholder="Type Something..." autocomplete="on">
                                    {% endif %}
                                </fieldset>
                            </div>
                            <div class="col-lg-5">
                                <fieldset>
                                    <select default=$category name="Category" class="form-select"
                                            aria-label="Default select example" id="chooseCategory"
                                            onchange="this.form.click()">
                                        {% if(Categorie==null) %}
                                            <option value=null selected>All Categories</option>
                                        {% else %}
                                            <option value=null>All Categories</option>
                                        {% endif %}
                                        {% for category in categories %}
                                            {% if(category.getIdCategory()==Categorie) %}
                                                <option selected
                                                        value="{{ category.getIdCategory() }}">{{ category.getNameCategory() }}</option>
                                            {% else %}
                                                <option value="{{ category.getIdCategory() }}">{{ category.getNameCategory() }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button class="main-button">Search</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>

                </body>
                </html>

                {% include "challenge/_content.html.twig" %}
                {% include "chat/index.html.twig" %}


            </div>
        </div>
    </div></div>
    {% block javascripts %}
        {# <script src="vendor/jquery/jquery.min.js"></script> #}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

        {# <script src="vendor/bootstrap/js/bootstrap.min.js"></script> #}
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        {# <script src="assets/js/isotope.min.js"></script> #}
        <script src="{{ asset('assets/js/isotope.min.js') }}"></script>

        {# <script src="assets/js/owl-carousel.js"></script> #}
        <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>

        {# <script src="assets/js/tabs.js"></script> #}
        <script src="{{ asset('assets/js/tabs.js') }}"></script>

        {# <script src="assets/js/popup.js"></script> #}
        <script src="{{ asset('assets/js/popup.js') }}"></script>

        {# <script src="assets/js/custom.js"></script>  #}
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    {% endblock %}
    <script src="{{ asset('assets/js/filters.js') }}"></script>
{% endblock %}


