{# {% extends 'base.html.twig' %} #}
    {% block javascripts %}
        {# <script src="vendor/jquery/jquery.min.js"></script> #}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

        {# <script src="vendor/bootstrap/js/bootstrap.min.js"></script> #}
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        {# <script src="assets/js/isotope.min.js"></script> #}
        <script src="{{ asset('assets/js/isotope.min.js') }}"></script>

        {# <script src="assets/js/owl-carousel.js"></script> #}
        <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>

        {# <script src="assets/js/tabs.js"></script> #}
        <script src="{{ asset('assets/js/tabs.js') }}"></script>

        {# <script src="assets/js/popup.js"></script> #}
        <script src="{{ asset('assets/js/popup.js') }}"></script>

        {# <script src="assets/js/custom.js"></script>  #}
        <script src="{{ asset('assets/js/custom.js') }}"></script>
    {% endblock %}
{% block stylesheet %}
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href='https://unpkg.com/swiper@7/swiper-bundle.min.css'/>
    {# {{ parent() }} #}
    <link data-require="fontawesome@*" data-semver="4.5.0" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css"/>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn {

            padding: 12px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu:hover .dropdown-submenu-content {
            display: block;
        }

        .dropdown-submenu-content {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-top: -1px;
        }

        .dropdown-content a {

            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {

        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {

        }
    </style>
    <style>
        .rating {
            cursor: pointer;
        }

        .rating .rating-star {
            display: inline-block;
            position: relative;
            padding-right: 5px;
            margin-left: -5px;
            color: #7453FC;
        }

        .rating .selected:before {
            content: '\f005';
        }
    </style>
    <script>
        $(document).ready(function () {

            if ({{ oldrating.getRating() }}) {
                setRating({{ oldrating.getRating() }});
            }

            function setRating(rating) {

                $('#form_rating').val(rating);
                // fill all the stars assigning the '.selected' class
                $('.rating-star').removeClass('fa-star-o').addClass('selected');
                // empty all the stars to the right of the mouse
                $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('selected').addClass('fa-star-o');
            }

            function setRating(rating) {
                // fill all the stars assigning the '.selected' class
                $('.rating-star').removeClass('fa-star-o').addClass('selected');
                // empty all the stars to the right of the mouse
                $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('selected').addClass('fa-star-o');
            }

            $('.rating-star')
                .on('mouseover', function (e) {
                    var rating = $(e.target).data('rating');
                    // fill all the stars
                    $('.rating-star').removeClass('fa-star-o').addClass('fa-star');
                    // empty all the stars to the right of the mouse
                    $('.rating-star#rating-' + rating + ' ~ .rating-star').removeClass('fa-star').addClass('fa-star-o');
                })
                .on('mouseleave', function (e) {
                    // empty all the stars except those with class .selected
                    $('.rating-star').removeClass('fa-star').addClass('fa-star-o');
                })
                .on('click', function (e) {
                    var rating = $(e.target).data('rating');
                    $.ajax({
                        type: 'POST',
                        url: 'http://127.0.0.1:8000/rating/new/' + $(e.target).data('rating') + '/' + parseInt(document.getElementById("challengeid").value) + '/' + parseInt(document.getElementById("participatorid").value),
                        dataType: "json",
                        contentType: 'application/json',
                        success: function (response) {
                            document.getElementById("avg_rating").innerHTML = Math.round(response.avg.avg) + " Stars";
                            document.getElementById("avg_flash").style.visibility = 'visible';
                            setTimeout(myGreeting, 3000);

                            function myGreeting() {
                                document.getElementById("avg_flash").style.visibility = 'hidden'
                            }

                        }
                    });
                    setRating(rating);
                    submitRating(rating);
                })
                .on('keyup', function (e) {
                    // if spacebar is pressed while selecting a star
                    if (e.keyCode === 32) {
                        // set rating (same as clicking on the star)
                        var rating = $(e.target).data('rating');
                        setRating(rating);
                    }
                });
        });
    </script>
{% endblock %}

{% block body %}
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ path('app_home') }}" class="logo">
                            <img src={{ asset("assets/images/logo.png") }} alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <div class="dropdown">
                                <li><a>Art</a></li>
                                <div class="dropdown-content">
                                    <li><a href="{{ path('app_explore') }}">Explore</a></li>
                                    <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                    <li><a href="{{ path('app_map') }}">Studios</a></li>
                                    <li><a href="{{ path('app_post_new') }}">Create Yours</a></li>

                                </div>
                            </div>
                            {% if(user.type=='Studio') %}
                                <li><a href="{{ path('app_offretravail_index') }}">Offres</a></li>
                            {% elseif(user.type=='Artist') %}

                                <li><a href="{{ path('app_demandetravail_index') }}">Demandes</a></li>
                            {% endif %}
                            <li><a href="{{ path('app_produits_index') }}">Shop</a></li>
                            <li><a href="{{ path('app_panier_show' , {'idpanier': '1'}) }}">Panier</a></li>
                            <li><a href="{{ path('app_challenge_index') }}">Challenges</a></li>
                            <li><a href="{{ path('app_tutoriel_index') }}">Tutoriels</a></li>
                            {%if(user.type!='Observer') %}
                                <li><a href="{{ path('app_dashboard_studiodashboard') }}">dashboard </a></li>
                            {% endif %}
                            {% if(user.idUser is null) %}
                                <li><a href="{{ path('app_allusers_login') }}">Log In</a></li>
                            {% else %}
                                <li><a href="{{ path('app_allusers_logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="item-details-page">
        <div class="container">
            <div class="col-lg-12">
                <div class="current-bid">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="left-image">
                                <img src={{ asset('http://localhost/img/'~p.getIMGParticipation()) }} alt=""
                                     style="border-radius: 20px; max-height:480px; padding-top:20px;">
                            </div>
                        </div>
                        <div class="col-lg-5 align-self-center">
            <span class="author">
              <img src="{{ asset('/assets/images/author-02.jpg') }}" alt=""
                   style="border-radius: 50%;height: 50px;width: 50px;">
              <h6> {{ p.getIdUser().getName() }} {{ p.getIdUser().getLastName() }} <br><a
                          href="/"> @{{ p.getIdUser().getNickname() }}</a></h6>
            </span>
                            <p>{{ p.getDescription() }}</p>
                            <div class="row">
                                <div class="col-8">
                <span class="bid">
                <input id="challengeid" type="number" style="visibility: hidden;" value={{ p.getIdChallenge().getId() }}>
                <input id="participatorid" type="number" style="visibility: hidden;"
                       value={{ p.getIdUser().getid_user() }}>
                <input id="participationid" type="number" style="visibility: hidden;" value={{ p.getId() }}>

                <div class="row">
                  <div class="col-5">
                    <span class="bid">
                      Current Rate<br><strong id="avg_rating">{{ avg.avg|round(1) }} Stars</strong><br>
                    </span>
                  </div>
    
                  <div class="col-7">
                    <span class="bid">
                      Rate us!
                      <br>

                    <div class="rating" role="optgroup">
                        <!-- in Rails just use 1.upto(5) -->
                        <i class="fa fa-star-o fa-2x rating-star" id="rating-1" data-rating="1" tabindex="0"
                           aria-label="Rate as one out of 5 stars" role="radio"></i>
                        <i class="fa fa-star-o fa-2x rating-star" id="rating-2" data-rating="2" tabindex="0"
                           aria-label="Rate as two out of 5 stars" role="radio"></i>
                        <i class="fa fa-star-o fa-2x rating-star" id="rating-3" data-rating="3" tabindex="0"
                           aria-label="Rate as three out of 5 stars" role="radio"></i>
                        <i class="fa fa-star-o fa-2x rating-star" id="rating-4" data-rating="4" tabindex="0"
                           aria-label="Rate as four out of 5 stars" role="radio"></i>
                        <i class="fa fa-star-o fa-2x rating-star" id="rating-5" data-rating="5" tabindex="0"
                           aria-label="Rate as five out of 5 stars" role="radio"></i>
                    </div>
                    <div id="avg_flash" class="avg_flash" style="visibility: hidden;">
                      Thanks for your rating <i class="bi bi-check" style="width: 0;height: 100;color: #7453FC;"></i>
                    </div>
                  </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
                            &nbsp;&nbsp;
                            Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
                                           target="_blank">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}