{% extends 'baseback.html.twig' %}

{% block title %}Challenge index{% endblock %}

{% block body %}
    <main id="main" class="main">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }} <i class="bi bi-check" style="width: 50;height: 50;color: #00ff00;"></i>
        </div>
    {% endfor %}

    <div class="pagetitle">
        <h1>Mes Tutoriels</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>

                <li class="breadcrumb-item active">Challenges</li>
                <li class="breadcrumb-item active">Participations</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->
    <style>
        .ligne {
            display: flex;
            justify-content: space-between;
            margin: 20px;

        }

        .bg-gradient-primary {
            background-color: #007bff;
            border-radius: 10px;
            color: #fff;
            padding: 20px;
        }

        .table td {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif; /* Change to your desired font family */
        }

        .table th {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif; /* Change to your desired font family */
            font-weight: bold;
            color: #555555;
        }

        button {
            color: white;
            border: none;
            background-color: white;
        }


    </style>
    <section class="section">
    <div class="col-10">
    <div class="card recent-sales overflow-auto">

    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">Challenge | Participations <span>| List</span></h5>

        <table class="table table-borderless datatable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                {% if (userid==challenge.getIdArtist().getid_user()) %}
                    <th scope="col">Supprimer</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for p in challenge.participations %}
                <tr>

                    <th scope="row"><a href="#">{{ p.getId() }}</a></th>
                    <td><img src="{{ asset('http://localhost/img/'~p.getImgParticipation()) }}" alt=""
                             style="border-radius: 20px; width: 70px; height: 70px; "></td>
                    <td>{{ p.description }}</td>
                    {% if (userid==challenge.getIdArtist().getid_user()) %}
                        <td class="align-middle text-center text-sm"><a
                                    href="{{ path('app_participation_delete', {'id_participation': p.getId()}) }}"
                                    class="text-primary"><i class="bi bi-trash"></i> Supprimer </a></td>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}