{% block head %}
    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ asset('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap') }}"
          rel="stylesheet">

    <title>Liberty NFT Marketplace - Explore Listing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Additional CSS Files -->
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-liberty-market.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/owl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('https://unpkg.com/swiper@7/swiper-bundle.min.css') }}"/>
    {% endblock %}




{% endblock %}

{% block body %}
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <div class="dropdown">
                                <li><a>Art</a></li>
                                <div class="dropdown-content">
                                    <li><a href="{{ path('app_explore') }}">Explore</a></li>
                                    <li><a href="{{ path('app_blog') }}">Blog</a></li>
                                    <li><a href="{{ path('app_map') }}">Studios</a></li>
                                    <li><a href="{{ path('app_post_new') }}">Create Yours</a></li>

                                </div>
                            </div>
                            <li><a href="{{ path('app_offretravail_index') }}">Offres</a></li>
                            <li><a href="{{ path('app_demandetravail_index') }}">Demandes</a></li>
                            <li><a href="{{ path('app_produits_index') }}">Shop</a></li>
                            <li><a href="{{ path('app_panier_show' , {'idpanier': '1'}) }}">Panier</a></li>
                            <li><a href="{{ path('app_challenge_index') }}">Challenges</a></li>
                            <li><a href="{{ path('app_tutoriel_index') }}">Tutoriels</a></li>
                            {%if(user.type=='Admin') %}
                                <li><a href="{{ path('app_dashboard_studiodashboard') }}">dashboard </a></li>
                            {% endif %}
                            {% if(user.idUser==null) %}
                                <li><a href="{{ path('app_allusers_login') }}">Log In</a></li>
                            {% else %}
                                <li><a href="{{ path('app_allusers_logout') }}">Logout</a></li>
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn {

            padding: 12px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu:hover .dropdown-submenu-content {
            display: block;
        }

        .dropdown-submenu-content {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            margin-top: -1px;
        }

        .dropdown-content a {

            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {

        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {

        }
    </style>

    <div class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h2>Discover Some Posts</h2>
                    <span>Home > <a href="#">Explore</a></span>
                </div>
            </div>
        </div>
        <div class="featured-explore">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-features owl-carousel">
                            {% for post in posts|slice(0, 7) %}
                                <div class="item">
                                    <div class="thumb">
                                        <img src="{{ post.media }}" alt="" width="100%" height="400px"
                                             style="border-radius: 20px;">
                                        <div class="hover-effect">
                                            <div class="content">
                                                <h4>{{ post.titleP }}</h4>
                                                <span class="author">
                                        <img src="assets/images/author.jpg" alt=""
                                             style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                        <h6>Artist<br><a href="#">{{ post.getUserName }}</a></h6>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="discover-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Discover Some Of Our <em>Posts</em>.</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form method="GET" action="{{ path('app_search_post') }}" id="search-form">
                        <div class="row">
                            <div class="col-lg-4">
                                <fieldset>
                                    <input type="text" name="title" class="searchText" placeholder="Type Something..."
                                           autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-2">
                                <fieldset>
                                    <button class="main-button">Search</button>
                                </fieldset>
                            </div>
                            <div class="col-lg-3">
                                <fieldset>
                                    <select name="filter" class="form-select" aria-label="Default select example"
                                            id="choosefilter">
                                        <option selected>Filter</option>
                                        <option data-value="today">Today</option>
                                        <option data-value="this-month">This Month</option>
                                        <option data-value="this-year">This Year</option>
                                    </select>
                                </fieldset>

                            </div>


                        </div>
                    </form>

                    <div class="row">

                        {# <div class="col-lg-2">
                    <fieldset>
                        <button class="main-button">Search</button>
                    </fieldset>
                </div> #}
                    </div>
                    </form>
                </div>
            </div>


            <div class="row" id="post-row">
                {% for post in posts %}
                {% if post.postType == 'portfolio' %}
                <div class="col-lg-3 post-item">
                    <div class="item">
                        <div class="row">
                            <div class="col-lg-12">
                                    <span class="author">
                                        <img src="assets/images/author.jpg" alt=""
                                             style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                    </span>
                                <img src="{{ post.media }}" width="244px" height="199px" alt=""
                                     style="border-radius: 20px;">
                                <h4>{{ post.titleP }}</h4>
                            </div>
                            <div class="col-lg-12">
                                <div class="line-dec"></div>
                                <div class="row">
                                    <div class="col-6">
                                        <span>Artist: <br> <strong>{{ post.getUserName }}</strong></span>
                                    </div>
                                    <div class="col-6">
                                        <span>Likes: <br> <strong>{{ post.postLikes.count }}</strong></span>
                                    </div>
                                    <div class="col-6">
                                        <span>Category: <br><strong>{{ post.getIdCategoryName }}</strong></span>
                                        <span>Created At: <br> <strong>{{ post.getDateP|date('Y-m-d H:i:s') }}</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="main-button">
                                    {# <a href="details.html.twig">View Details</a> #}
                                    <a href="{{ path('app_post_details', {'id_post': post.getId}) }}">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index is divisible by 4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endif %}
                {% endfor %}

            </div>


        </div>

    </div>
    <div style="display: flex; justify-content: center;">
        {{ knp_pagination_render(
            posts,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
            {
                'queryParam1': 'param1 value',
                'queryParam2': 'param2 value'
            },
            {
                'align': 'center',


            },
        ) }}
    </div>

    <div class="top-seller">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        <h2>Our Top Sellers This Week.</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>1.</h4>
                                <img src="assets/images/author.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>NFT Top Artist<br><a href="#">8.6 ETH or $12,000</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>2.</h4>
                                <img src="assets/images/author-02.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>George Brandon<br><a href="#">4.8 ETH or $14,000</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>3.</h4>
                                <img src="assets/images/author-03.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Johnny Mayson<br><a href="#">6.2 ETH or $26,000</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>4.</h4>
                                <img src="assets/images/author.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Liberty Artist<br><a href="#">4.5 ETH or $11,600</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>5.</h4>
                                <img src="assets/images/author-02.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Ronald Martino<br><a href="#">7.2 ETH or $14,500</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>6.</h4>
                                <img src="assets/images/author-03.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Anthony Brown<br><a href="#">8.6 ETH or $7,400</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>7.</h4>
                                <img src="assets/images/author.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Liberty Artist<br><a href="#">9.8 ETH or $14,200</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>8.</h4>
                                <img src="assets/images/author-02.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Ronald Martino<br><a href="#">6.5 ETH or $15,000</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>9.</h4>
                                <img src="assets/images/author-03.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>David Walker<br><a href="#">2.5 ETH or $12,000</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>10.</h4>
                                <img src="assets/images/author.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Liberty Artist<br><a href="#">8.8 ETH or $16,800</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>11.</h4>
                                <img src="assets/images/author-02.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>Anthony Brown<br><a href="#">7.5 ETH or $15,400</a></h6>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="item">
                                <h4>12.</h4>
                                <img src="assets/images/author-03.jpg" alt=""
                                     style="max-width: 50px; max-height: 50px; border-radius: 50%;">
                                <h6>David Walker<br><a href="#">5.2 ETH or $12,300</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
                        &nbsp;&nbsp;
                        Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com"
                                       target="_blank">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/isotope.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
        <script src="{{ asset('assets/js/tabs.js') }}"></script>
        <script src="{{ asset('assets/js/popup.js') }}"></script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>

        <script>
            $(document).ready(function () {
                // Get the filter select element
                const filterSelect = $('#choosefilter');

                // Add a change event listener to the filter select
                filterSelect.on('change', function () {
                    // Get the selected filter value
                    const filterValue = $(this).find(':selected').data('value');

                    // Filter the posts based on the selected filter value
                    $('#post-row .post-item').each(function () {
                        const postDate = $(this).find('.col-lg-12 span:contains("Created At") strong').text();
                        const filterDate = new Date();
                        if (filterValue === 'today') {
                            filterDate.setDate(filterDate.getDate() - 1);
                        } else if (filterValue === 'this-month') {
                            filterDate.setMonth(filterDate.getMonth() - 1);
                        } else if (filterValue === 'this-year') {
                            filterDate.setFullYear(filterDate.getFullYear() - 1);
                        }
                        const postDateObj = new Date(postDate);
                        if (postDateObj >= filterDate) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                });
            });
        </script>
        <script>


        </script>


    {% endblock %}


{% endblock %}